.brand{
    width: 100px;
    height: 75px;
}
.colur{
    background-color: #C13239
}
.caption{
    color: #DD624F;
}
.center{
    text-align: center;
}
.flagSiz{
    width: 50px;
    height: 25px;
}
.siz{
    font-size: 50px;
    color: #F9F50E
}
table,th,td,tr{
    border: 1px solid #F9F50E;
}
body{
    background-color: #99ddff;
    color: #49A35B;
    font-family: 'Hind', sans-serif;
}
.card-body,.card-title{
    background-color: #99ddff;
}
td,th,tr{
    font-size: 20px
}
/* .navbar{
    position: fixed;
    top: 0px; 
} */
.leftc{
    margin-left: 20px;
}
.d-block{
    widows: 100%;
}
.centerc{
    margin-left: 500px;
}
.colour{
    background-color: #C13239;
    color: #F9F50E;
    
}
.sizeKeep{
    font-size: 30px
}
.mar{
    margin-left: 15px;
    font-size: 20px;
}
.nav-item{
    font-size: 20px;
}




































